<div layout="column">
	<div forcasts-location>{{$ctrl.forcast.city}}</div>
	<div>{{$ctrl.forcast.description}}
		<img src="http://openweathermap.org/img/w/{{$ctrl.forcast.icon}}.png">
	</div>
	<div>{{$ctrl.forcast.date | date:'EEEE, MMMM d, h:mm, y'}}</div>
</div>